/Semana 2 - Tarea 1/WebApplication2/obj/
/Semana 2 - Tarea 1/WebApplication2/bin/
/Semana 2 - Tarea 1/WebApplication2/*.user
/Semana 2 - Tarea 1/WebApplication2/*.suo
/Semana 2 - Tarea 1/WebApplication2/*.userosscache
/Semana 2 - Tarea 1/WebApplication2/*.sln.docstates
/Semana 2 - Tarea 1/WebApplication2/.vs/
/Semana 2 - Tarea 1/WebApplication2/.vscode/
/Semana 2 - Tarea 1/WebApplication2/TestResults/
/Semana 2 - Tarea 1/WebApplication2/*.nupkg
/Semana 2 - Tarea 1/WebApplication2/*.snupkg
